*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --secondary-color: #FB2E86;
    --primery-color: #0D0E43; 
    --secodnary-font-family: 'Lato', sans-serif;
    --primary-font-family: 'Josefin Sans';
    
}
body{
   font-family: var(--secodnary-font-family);
}
.container{
    width:80%;
    max-width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    justify-content: space-between;
}
h2{
    font-weight: 700;
    margin-bottom: 40px;
    font-family: var(--primary-font-family);
    font-size: 42px;
    line-height: 49px;
    color: #1A0B5B;
    text-align: center;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
    font-size: 16px;
}
.header{
    z-index: 10;
    background-color: #ffffff;
    font-family: var(--secodnary-font-family);
    font-weight: 400;
    color: #0D0E43;
    padding: 47px 0px;
    position:fixed;
    width: 100%;  
    top: 0;  
}
.logo img{
    width: 98px;
    height: 34px;
    margin-right: 88px;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    transition:0.8s;
}
.header li:first-child > a {
    color: var(--secondary-color);
}
.header li a:hover{
    color: var(--secondary-color);
    font-weight:600;
}
.header .fa-chevron-down {
  font-size: 12px;
  margin-left: 2px;
  transform: scaleX(0.65);
  opacity: 0.7;
}   
.header form , #footer form{
    display: flex;
    border: solid 2px #E7E6EF;
    width: 317px;
    height: 40px;

}
.menu{
    display: none;
}
#footer{
    background-color: #EEEFFB;
   
}
#footer .container{
    height: 1920px;
    padding: 50px 0;
    margin: auto ;
}
#footer .row{
    gap: 20px;
}
 
     
    /* .header .container{
        flex-direction: column;
        gap: 20px;
    }
    .header form{
        width: 100%;
    }
    .header form input{
        width: 100%;
    } */
    
#footer .footer-form{
    width: 377px;
    max-width: 377px;
    margin-top: 34px;
}
#footer .footer-form input, #footer .footer-form button{
    font-size: 16px;
    font-weight: 500;
    
}
.header form button{
    width: 51px;
    background-color: #FB2E86;
    border-style: none;
    cursor: pointer;
}
.header form input , #footer form input{
  width: 266px;
  border-style: none;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.45);

}
#footer form button , .hero-btn, .view-details{
    width: 135px;
    background-color: #FB2E86;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    color: #ffff;
}
.hero-btn{
    height: 48px;
    font-size: 17px;
    text-transform: capitalize;
}
#footer .contact-info{
    margin-top: 27px;
    margin-bottom: 11px;
  
}

#footer .contact-info , #footer .location{

    font-size: 16px;
    font-weight: 400;
    color: #8A8FB9;
    line-height: 100%;
    letter-spacing: 0%;
}
.footer-right-side{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#footer h3{
    font-family: var(--primary-font-family);
    font-size: 22px;
    font-weight: 600;
}
#footer  a{
    color: #8A8FB9;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
}

#footer li{
    margin-top: 23px;
} 
.hero{
    background-image: url('./../images/hero-bg.png');
    height: 462px;
    margin-top: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font-family);
}
.hero .container{
      width: 574px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;

}

.hero-title{
    font-family: var(--primary-font-family);
    font-size: 35px;
    font-weight: 700;
    color: #151875;
    /* filter: drop-shadow(0px 4px 4px #00000073); */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 45%);
}
#featured-products .row{
   display: flex;
   gap: 30px;

}
#featured-products{
    margin: 129px 0;
}
#featured-products .product{
    display: flex;
    flex-direction: column;
    /* filter: drop-shadow( 0px 4px 4px rgba(0, 0, 0,25%)); */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    width: calc((100% - 90px) / 3);
    margin-top: 48px;
    position: relative;
}
#featured-products .product img{
    background-color: #F6F7FB;
    text-align: center;
    padding: 35px;
    
}
#featured-products .product-info{
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 17px;
}
.product-info .product-name{
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    font-family: var(--secodnary-font-family);
}
.product-info .product-code{
    font-size: 14px;
    color: #151875;
    font-weight: bold;
    font-family: var(--secodnary-font-family);

}
.product-info .product-price{
    font-size: 14px;
    font-family: var(--primary-font-family);
    color: #151875;
}
#featured-products .product:hover .product-info{
    transition: .8s;
    background-color: #2F1AC4;
}
#featured-products .product:hover .product-info .product-code ,#featured-products .product:hover .product-info .product-name , #featured-products .product:hover .product-info .product-price{

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    color: #fff;
    font-weight: bold;
}
#featured-products .product:hover .view-details, #featured-products .product:hover .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#featured-products .icons{
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    gap: 20px;
    height: 35px;
   
}
#featured-products .product .icons li{
    transition: .8s;
}
#featured-products .product .icons i{
    color: rgb(96, 96, 225) ;
}
#featured-products .product .icons i:hover{
    color: blue;
      height:30px;
    width: 30px;
    background-color:#aeb1d0;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    display: flex;
    justify-content: center;
    align-items: center;    
}
.view-details{
    background-color: #08D15F;
    font-family: var(--primary-font-family);
    width: 35%;
    height: 29px;
    position: absolute;
    bottom: 35%;
    left: 33%;
    border-radius: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    font-size: 12px;
    display: none;
    transition: .8s;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

@media screen and (min-width: 0) and (max-width: 768px) {
    .view-details{
        left: 33%;
    }
     #featured-products .row{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap:20px;
     }
     #featured-products .product{
        width: 100%;
        font-size: x-small;
     }
    h2{
        font-size: 32px;
        line-height: 37px;
        font-weight: 600;
    }
    .header .nav-links , .header form{
         display: none;
    } 
    .menu{
        display: block;
        padding: 3px;
        border: 1px solid var(--secondary-color);
        border-radius: 2px;
        cursor: pointer
    }
    #footer .row{
        flex-direction: column-reverse;
    }
    .footer-right-side{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        width: 100%;
    }
    .hero-title{
        font-size: 26px;
    }
    #footer .footer-form{
        width:295px;
    }
    .hero .container{
        width: 100%;
        padding: 0 20px;
    }

   
}

 @media screen and (min-width: 769px) and (max-width: 1250px )  {
    /* .header .container{
        flex-direction: row;
        gap: 20px;
    } */
     #featured-products .row{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap:20px;
     }
     #featured-products .product{
        width: calc((100% - 40px) / 2);
     }  
     h2{
        font-size: 32px;
        line-height: 37px;
        font-weight: 600;
    }
     .container{
        width: 90%;
     }
    #footer .row{
        flex-direction: column-reverse;
    }
     .footer-right-side{
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content:space-between; 
     }
    .hero-title{
        font-size: 26px;
    }

    .header form{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
   
}