*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   height: 6000px;
}
:root{
    --secondary-color: #FB2E86;
    --primery-color: #0D0E43; 
    --secodnary-font-family: 'Lato', sans-serif;

}
.container{
    width:80%;
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;

}
a{
    text-decoration: none;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
    font-size: 16px;
}
.header{
    
    font-family: var(--secodnary-font-family);
    font-weight: 400;
    color: #0D0E43;
    padding: 47px 0px;
    position:fixed;
    width: 100%;  
    top: 0;  
}
.header .logo img{
    width: 98px;
    height: 34px;
    margin-right: 88px;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    transition:0.8s;
}
.header li:first-child > a {
    color: var(--secondary-color);
}
.header li a:hover{
    color: var(--secondary-color);
    font-weight:600;
}
.header .fa-chevron-down {
  font-size: 12px;
  margin-left: 2px;
  transform: scaleX(0.65);
  opacity: 0.7;
}   
.header form{
    display: flex;
    border: solid 2px #E7E6EF;
    width: 317px;
    height: 40px;

}
.menu{
    display: none;
}
@media screen and (min-width: 0) and (max-width: 768px) {

    .header .nav-links , .header form{
         display: none;
    } 
    .menu{
        display: block;
        padding: 3px;
        border: 1px solid var(--secondary-color);
        border-radius: 2px;
        cursor: pointer
    }
    
}
 @media screen and (min-width: 769px) and (max-width: 1250px )  {
    /* .header .container{
        flex-direction: row;
        gap: 20px;
    } */
    .header form{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
} 
     
    /* .header .container{
        flex-direction: column;
        gap: 20px;
    }
    .header form{
        width: 100%;
    }
    .header form input{
        width: 100%;
    } */
    

.header form button{
    width: 51px;
    background-color: #FB2E86;
    border-style: none;
    cursor: pointer;
}
.header form input{
  width: 266px;
  border-style: none;
}
